// Import custom variables (overrides Bootstrap default variables)
@import "./variables.scss"; // Import Bootstrap
@import "bootstrap/scss/bootstrap.scss"; // Import custom styles
@import "./global.scss";
@import "./navbar.scss";
@import "./masthead.scss";
@import "./portfolio.scss";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

#about {
  background: url("../img/bg-about.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:hover {
  text-decoration: none;
}
/*With Simple Caption*/
.column#caption {
  position: relative;
}

.column#caption .text {
  color: $white;
  text-shadow: 1px 1px 2px rgba(0,0,0,1);
  position: absolute;
  top: 95%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: all 0.5s ease;
  font-family: "Merriweather Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 600;
}

.column#caption .text h1 {
  margin: 0;
  color: white;
}

.column#caption:hover .text {
  opacity: 1;
}

.column#caption:hover img {
  -webkit-filter: GrayScale(100%);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.9s ease;
}
/*GrayScale*/
// .column#grayscale img {
// 	-webkit-filter: grayscale(100%);
// 	filter: grayscale(100%);
// 	-webkit-transition: .3s ease-in-out;
// 	transition: .3s ease-in-out;
// }
//
// .column#grayscale:hover img {
// 	-webkit-filter: grayscale(0);
// 	filter: grayscale(0);
// }

.darker-color {
  background-color: $dark-grey;
  background: url("../img/bg-portfolio.png") no-repeat center center fixed;
  background-size: cover;
}

.devicon {
  font-size: 10rem;
}

.devicon-sm {
  color: $light;
  font-size: 2.65rem;
}

.disclaimer {
  font-size: 0.75rem;
}

.emphasis {
  font-weight: 800;
  font-style: italic;
  color: white;
}

.external-link-icon {
  margin: 0 0.25rem;
  color: $white;

  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

.glide {
  background: url("../img/bg-about.png") no-repeat center center fixed $dark-grey;
  background-size: cover;
}

.glide__arrow {
  background-color: $primary;
}

.highlight {
  color: $light;
}

.img-link {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.portfolio-box {
  width: 100%;
  height: auto !important;
}

.profile-pic {
  width: 100%;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .profile-pic {
    width: 50%;
    margin-bottom: 2rem;
  }
}

.project-description {
  padding: 2.5rem;
  background-color: rbga(10,10,10,.9);
}

.project-heading {
  background-color: $light;
  color: $primary;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.project-info {
  background: url("../img/bg-portfolio.png") no-repeat center center fixed;
  background-size: cover;
}

.project-name {
  background-color: $dark;
  color: $light;
}

.project-text {
  font-size: 0.8rem;
}

.project-th {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 3px 3px 7px -1px rgba(0,0,0,1);

  &:hover {
    box-shadow: -4px 3px 7px -1px rgba(0,0,0,1);
    transition: all 0.9s ease;
  }
}

.project-th img {
  width: auto;
  height: 100%;
  margin-left: -70px;
}

.se-tool {
  background-color: white;
  border-radius: 4px;
  box-shadow: -2px 3px 5px -3px rgba(0,0,0,1);
  color: $dark;
  display: inline-block;
  font-weight: 100;
  font-size: 0.65rem;
  margin: 0.6rem 0.2rem 0;
  opacity: 0.9;
  padding: 0.3rem 0.8rem;

  &:hover {
    opacity: 1;
    cursor: default;
  }
}

ul {
  padding: 0;
  margin: 0 0 1rem;
}
@media (max-width: 992px) {
  .one {
    order: 1;
  }
  .two {
    order: 2;
  }
}
